<main id="main">
  <div class="grid padding-top">
    <section>
      <div class="page-title-container">
        <h1 class="page-title">
          <span class="nc-min-icon nc-min-recruiters"></span>
          <span>Termos de uso</span>
        </h1>
      </div>

      <div class="col-12 col-center text-center">
        <div class="page-slogan">
          <div class="page-slogan-text">
            <p>
              Aviso legal
            </p>
          </div>
        </div>

        <div class="page-text margin-large-bottom text-left">
          <p>
            O presente documento tem por objeto estabelecer as Condições Gerais de Uso do site trampos.co na Internet pertencente a Trampos.co Tecnologia Ltda (adiante denominada trampos.co), com sede fiscal à Rua General Jardim, 618 - sala 12 - Vila Buarque - CEP: 01223-010 - São Paulo - SP e inscrita no CNPJ sob o número 18.605.358/0001-03.
          </p>
          <p>
            A finalidade do trampos.co é a de disponibilizar uma plataforma que permite o encontro entre empresas e candidatos em um ambiente online. Nesse sentido, permite às empresas registradas o acesso à base de dados de candidatos registrados no site, a publicação de vagas de emprego, a inclusão do CV por parte do candidato através do menu privado e outros serviços relacionados com o setor do emprego.
          </p>
          <p>
            O site se reserva o direito de modificar sem prévio aviso as presentes Condições Gerais de Uso com o objetivo de adequá-las à legislação vigente aplicável em cada momento, às novidades jurisprudenciais e às práticas habituais do mercado.
          </p>
          <p>
            Os criadores e colaboradores do site poderão a seu exclusivo critério e em qualquer tempo, modificar ou desativar o site, bem como limitar, cancelar ou suspender seu uso ou o acesso. Também estes Termos de Uso poderão ser alterados a qualquer tempo. Visite regularmente esta página e consulte os Termos então vigentes. Algumas disposições destes Termos podem ser substituídas por termos ou avisos legais expressos localizados em determinadas páginas deste site.
          </p>
        </div>

        <div class="page-slogan">
          <div class="page-slogan-text">
            <p>
              Condições legais para candidatos
            </p>
          </div>
        </div>

        <div class="page-text margin-large-bottom text-left">
          <p>
            O presente documento tem por objeto estabelecer as Condições Gerais de Uso do site trampos.co na Internet pertencente a Trampos.co Tecnologia Ltda (adiante denominada trampos.co), com sede fiscal à Rua General Jardim, 618 - sala 12 - Vila Buarque - CEP: 01223-010 - São Paulo - SP e inscrita no CNPJ sob o número 18.605.358/0001-03.
          </p>
          <p>
            A finalidade do trampos.co é a de disponibilizar uma plataforma que permite o encontro entre empresas e candidatos em um ambiente online. Nesse sentido, permite às empresas registradas o acesso à base de dados de candidatos registrados no site, a publicação de vagas de emprego, a inclusão do CV por parte do candidato através do menu privado e outros serviços relacionados com o setor do emprego.
          </p>
          <p>
            O site se reserva o direito de modificar sem prévio aviso as presentes Condições Gerais de Uso com o objetivo de adequá-las à legislação vigente aplicável em cada momento, às novidades jurisprudenciais e às práticas habituais do mercado.
          </p>
          <p>
            Os criadores e colaboradores do site poderão a seu exclusivo critério e em qualquer tempo, modificar ou desativar o site, bem como limitar, cancelar ou suspender seu uso ou o acesso. Também estes Termos de Uso poderão ser alterados a qualquer tempo. Visite regularmente esta página e consulte os Termos então vigentes. Algumas disposições destes Termos podem ser substituídas por termos ou avisos legais expressos localizados em determinadas páginas deste site.
          </p>
        </div

      </div>
    </section>
  </div>
</main>
