/*
	Button
*/

.btn {
	position: relative;

	display: inline-block;
	height: 26px;
	line-height: 26px;
	
	color: $text-1;
	font-size: 14px;
	text-transform: lowercase;
	text-decoration: none;

	padding: 0 10px;

	border: 0;

	@include transition(.1s ease);
}


.btn-block {
	display: block;
	text-align: center;
}


.btn-large {
	height: 40px;
	line-height: 40px;
}

.btn-extra {
	height: 70px;
	line-height: 70px;

	font-size: 24px;
}

.btn-link {
	color: $text-4;
	text-decoration: underline;
	background: none;

	&:hover {
		color: $text-1;
		text-decoration: none;
		background: $btn-1;
	}
}


.btn-blue {
	background: $btn-1;

	&:hover {
		background-color: $btn-3;
	}
}

.btn-green {
	background: $btn-5;

	&:hover {
		background-color: $btn-2;
	}
}

.btn-bright-green {
	background: $btn-2;

	&:hover {
		background-color: $btn-5;
	}
}


.btn-facebook {
	background: $btn-3;

	.fa {
		padding-right: 8px;
		margin-right: 6px;
		border-right: solid 1px rgba(#fff, .2);
	}
}