/*
	Color
*/

$bg: #ECF0F1;				// cinza claro
$header: #31B297;		// verde
$footer: #31B297;		// verde

$component-1: #FFF;			// branco
$component-2: #E2E6E7;	// cinza

$text-1: #ECF0F1;		// cinza claro
$text-2: #25816D;		// verde escuro
$text-3: #31B297;		// verde
$text-4: #5FA9DE;		// azul
$text-5: #4977B4;		// azul escuro
$text-6: #95A4A5;		// cinza

$btn-1: #5FA9DE;		// azul
$btn-2: #31B297;		// verde
$btn-3: #4977B4;		// azul escuro
$btn-4: #ECF0F1;		// cinza claro
$btn-5: #25816D;		// verde escuro
$btn-6: #95A4A5;		// cinza
$btn-7: #F45353;		// vermelho
$btn-8: #CC4242;		// vermelho escuro

$input-1: #31B297;	// verde
$input-2: #DFE4E6;	// cinza claro

$border-1: #31B297;	// verde
$border-2: #FFF;		// branco
$border-3: #25816D;	// verde escuro
$border-4: #CCC;		// cinza