/*
	Default
*/

body {
	font-family: 'Lato', sans-serif;
	font-size: 10px;
	font-weight: 400;

	background: $bg;
}



/* Alignments */

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}



/* Clip Oveflow */

.clip {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}