/*
	Icon
*/

.nc-icon {
	display: inline-block;
	width: 60px;
	height: 60px;
	background: image_url('nc-icons.png') no-repeat;
}

.nc-recruiters {
	background-position: 0 0;
}

.nc-candidate {
	background-position: -60px 0;	
}