/*
	Display
*/

.display {

}

.display-list {
	@include box-sizing(border-box);

	list-style: none;
	margin: 0;
	padding: 20px;

	background: $component-2;
}

.display-scroll {
	max-height: 240px;
}

.display-small-scroll {
	max-height: 150px;
}

.display-large-scroll {
	max-height: 405px;
}

.formacoes-academicas-scroll {
	max-height: 301px;

	ul {
		min-height: 301px;
	}
}

.cursos-e-eventos-scroll {
	max-height: 203px;

	ul {
		min-height: 203px;
	}
}

.idiomas-scroll {
	max-height: 125px;

	ul {
		min-height: 125px;
	}
}

.experiencias-profissionais-scroll {
	max-height: 405px;

	ul {
		min-height: 405px;
	}
}

.display-item {
	position: relative;

	margin-bottom: 15px;
	padding-bottom: 15px;

	border-bottom: solid 1px $border-4;

	p {
		color: $text-6;
		font-size: 1.3em;

		margin: 0;
	}
}

.display-title {
	color: $text-3;
	font-size: 1.8em;
	font-weight: 600;

	margin: 0;
}

.display-text {
	padding-top: 10px;
}

.display-btn {
	cursor: default;

	position: absolute;
	top: 0;
	right: 0;

	.btn {
		margin-left: 5px;
	}
}