/*
	Search
*/

.search {
	cursor: default;
	text-align: center;
	padding: 30px 0;
	background: $component;

	.select {
		display: inline-block;
		padding: 0 5px;
	}

	.select-text {
		color: $text-1;
		background: $input-1;
	}
}

.search-form {
	display: inline-block;
}

.search-input {
	display: inline-block;
	padding: 0 5px;
	@include placeholder($text-1);

	input,
	select {
		height: 40px;
		
		color: $text-1;
		font-size: 1.4em;

		padding: 10px 20px;

		border: 0;
		background: $input-1;
	}

	input {
		min-width: 400px;
	}

	select {
		@include appearance(none);
		padding: 10px 60px 10px 20px;
		background: image_url('icon-select.jpg') no-repeat right top $input-1;
	}
}

.search-submit {
	display: inline-block;
	padding: 0 5px;

	input {
		width: 40px;
		height: 40px;

		color: transparent;

		background-image: image_url('icon-search.png');
		background-repeat: no-repeat;
		background-position: center;
	}
}