/*
	Search
*/

.search {
	@include box-sizing(border-box);
	cursor: default;
	height: 100px;
	text-align: center;
	padding: 30px 0;
	background: $component-1;

	.select {
		display: inline-block;
		padding: 0 5px;
	}
}

.search-form {
	display: inline-block;

	.form-input {
		float: left;
		padding: 0 5px;

		input {
			min-width: 400px;
		}
	}

	.form-select {
		float: left;
		padding: 0 5px;

		select {
			min-width: 150px;
		}
	}
}

.search-submit {
	display: inline-block;
	padding: 0 5px;

	input {
		width: 40px;
		height: 40px;

		color: transparent;

		background-image: image_url('icon-search.png');
		background-repeat: no-repeat;
		background-position: center;
	}
}