<main id="main">
  <div class="grid padding-top">
    <section>
      <div class="page-title-container">
        <h1 class="page-title">
          <span class="nc-min-icon nc-min-recruiters"></span>
          <span>Contato</span>
        </h1>
      </div>
      <div class="col-12 col-center text-center">
        <div class="page-slogan">
          <div class="page-slogan-text">
            <p>
              Contato
            </p>
          </div>
        </div>

        <div class="page-text margin-large-bottom text-left">
          <p>
          Entre em contato pelo celular (67) 9908-8371 ou pelo email luizpicolo@novacurriculos.com.br
          </p>
        </div>
      </div>
    </section>
  </div>
</main>
