<main id="main">
  <div class="grid padding-top">
    <section>
      <div class="page-title-container">
        <h1 class="page-title">
          <span class="nc-min-icon nc-min-recruiters"></span> 
          <span>Vaga Premium</span>
        </h1>
      </div>

      <div class="col-6 col-center text-center">
        <div class="page-slogan">
          <div class="page-slogan-text">
            <p>
              Deixe sua vaga em evidência entre as
              primeiras vagas do site. Contrate agora
              a nossa Vaga Premium
            </p>
          </div>
        </div>

        <div class="page-text margin-large-bottom">
          <p>
            Contratanto nosso serviço premium sua vaga
            ficará em destaque com a "estrelinha" no topo
            entre as primeiras vagas anúnciadas em nossa
            home, alcançando muito mais candidatos.
          </p>
        </div>
      </div>
      
      <form class="margin-large-bottom" action="">
        <div class="col-8 col-center">
          <div class="row margin-large-bottom">
            <% PremiumPlan.order(id: :asc).all.each_with_index do |premium_plan, i|%>
            <div class="col-4 col-left padding-right">
              <div class="plan-container">
                <div class="plan">
                  <% for j in (0..i)%>
                  <span class="fa fa-star"></span>
                  <% end %>
                  <p><%= premium_plan.description %></p>

                  <div class="plan-price-container">
                    <span class="plan-coin">Por:</span>
                    <span class="plan-price">R$ <%= premium_plan.price %></span>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>

        </div>
      </form>

      <div class="row text-center">
        <div class="page-text">
          <p>*Ao cadastrar sua vaga, selecione vaga premium para que sua vaga possa ser destacada.</p>
          <p>*Enquanto o pagamento não for concluído sua vaga ficará disponível normalmente, sem destaque.</p>
        </div>
      </div>
    </section>
  </div>
</main>