<main id="main">
      <div class="grid padding-top">
        <div class="page-title-container">
          <h1 class="page-title">
            <span class="nc-min-icon nc-min-candidate"></span> 
            <span>Currículo</span>
          </h1>
        </div>
        
        <div class="row margin-large-bottom">
          <div class="col-6 col-left padding-right">
            <form action="" class="form-curriculo">
              <fieldset>
                <legend class="page-caption">Dados do Candidato</legend>

                <div class="form-input">
                  <label class="hidden" for="email">*E-mail</label>
                  <input type="email" id="email" name="email" placeholder="*e-mail" required>
                </div>

                <div class="form-input">
                  <label class="hidden" for="nome">*Nome Completo</label>
                  <input type="text" id="nome" name="nome" placeholder="*nome completo" required>
                </div>

                <div class="row">
                  <div class="col-6 col-left padding-small-right">
                    <div class="form-radio">
                      <span class="form-radio-label">*Sexo</span>
                      
                      <div class="row">
                        <div class="form-radio-item col-6 col-left padding-right">
                          <label for="feminino">Feminino</label>
                          <input type="radio" id="feminino" name="sexo">
                        </div>
                        
                        <div class="form-radio-item col-6 col-right padding-left">
                          <label for="masculino">Masculino</label>
                          <input type="radio" id="masculino" name="sexo">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-6 col-right padding-small-left">
                    <div class="form-input">
                      <label for="data_nascimento">*Data de Nascimento</label>
                      <input class="date" type="text" id="data_nascimento" name="data_nascimento" placeholder="*00/00/0000" required>
                    </div>
                  </div>
                </div>

                <div class="form-input">
                  <label class="hidden" for="rua">*Rua</label>
                  <input type="text" id="rua" name="rua" placeholder="*rua" required>
                </div>

                <div class="row">
                  <div class="col-4 col-left padding-right">
                    <div class="form-input">
                      <label class="hidden" for="numero">*Número</label>
                      <input type="text" id="numero" name="numero" placeholder="*número" required>
                    </div>
                  </div>

                  <div class="col-4 col-left">
                    <div class="form-input">
                      <label class="hidden" for="complemento">*Complemento</label>
                      <input type="text" id="complemento" name="complemento" placeholder="*complemento" required>
                    </div>
                  </div>

                  <div class="col-4 col-right padding-left">
                    <div class="form-input">
                      <label class="hidden" for="bairro">*Bairro</label>
                      <input type="text" id="bairro" name="bairro" placeholder="*bairro" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-5 col-left padding-right">
                    <div class="form-input">
                      <label class="hidden" for="cidade">*Cidade</label>
                      <input type="text" id="cidade" name="cidade" placeholder="*cidade" required>
                    </div>
                  </div>

                  <div class="col-3 col-left">
                    <div class="form-select">
                      <label class="hidden" for="uf">*UF</label>
                      <select name="uf" id="uf">
                        <option value="0">UF</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-4 col-right padding-left">
                    <div class="form-input">
                      <label class="hidden" for="cep">*CEP</label>
                      <input class="cep" type="text" id="cep" name="cep" placeholder="*CEP" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6 col-left padding-small-right">
                    <div class="form-input">
                      <label class="hidden" for="telefone">*Telefone</label>
                      <input class="tel" type="tel" id="telefone" name="telefone" placeholder="*telefone" required>
                    </div>
                  </div>

                  <div class="col-6 col-left padding-small-left">
                    <div class="form-input">
                      <label class="hidden" for="telefone_comercial">Telefone Comercial</label>
                      <input class="tel" type="tel" id="telefone_comercial" name="telefone_comercial" placeholder="telefone comercial">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6 col-left padding-small-right">
                    <div class="form-input">
                      <label class="hidden" for="celular">*Celular</label>
                      <input class="tel" type="tel" id="celular" name="celular" placeholder="*celular" required>
                    </div>
                  </div>

                  <div class="col-6 col-left padding-small-left">
                    <div class="form-input">
                      <label class="hidden" for="telefone_comercial">Telefone Recados</label>
                      <input class="tel" type="tel" id="telefone_comercial" name="telefone_comercial" placeholder="telefone recados">
                    </div>
                  </div>
                </div>
              </fieldset>

              <div class="form-submit text-center">
                <input class="btn btn-blue" type="submit" value="Salvar dados do candidato">
              </div>
            </form>
          </div>

          <div class="col-6 col-right padding-left">
            <form action="" class="form-curriculo">
              <fieldset>
                <legend class="page-caption">Objetivos Profissionais</legend>

                <div class="form-input">
                  <label class="hidden" for="objetivo_cargo">*Objetivo ou cargo de interesse</label>
                  <input type="text" id="objetivo_cargo" name="objetivo_cargo" placeholder="*objetivo ou cargo de interesse" required>
                </div>

                <div class="form-radio">
                  <span class="form-radio-label">*área profissional</span>
                  
                  <div class="row">
                    <div class="col-6 col-left padding-small-right">
                      <div class="form-radio-item">
                        <label for="administrativa">Administrativa</label>
                        <input type="checkbox" name="administrativa" id="administrativa">
                      </div>
                    </div>
                    
                    <div class="col-6 col-right padding-small-left">
                      <div class="form-radio-item">
                        <label for="agrarias">Agrárias</label>
                        <input type="checkbox" name="agrarias" id="agrarias">
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-6 col-left padding-small-right">
                      <div class="form-radio-item">
                        <label for="atendimento">Atendimento</label>
                        <input type="checkbox" name="atendimento" id="atendimento">
                      </div>
                    </div>
                    
                    <div class="col-6 col-right padding-small-left">
                      <div class="form-radio-item">
                        <label for="comunicacao_e_publicidade">Comunicação e Publicidade</label>
                        <input type="checkbox" name="comunicacao_e_publicidade" id="comunicacao_e_publicidade">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-radio">
                  <span class="form-radio-label">*nível hierárquico</span>
                  
                  <div class="row">
                    <div class="col-6 col-left padding-small-right">
                      <div class="form-radio-item">
                        <label for="coordenacao_e_supervisao">Coordenação e Supervisão</label>
                        <input type="checkbox" name="coordenacao_e_supervisao" id="coordenacao_e_supervisao">
                      </div>
                    </div>

                    <div class="col-6 col-right padding-small-left">
                      <div class="form-radio-item">
                        <label for="diretoria">Diretoria</label>
                        <input type="checkbox" name="diretoria" id="diretoria">
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-6 col-left padding-small-right">
                      <div class="form-radio-item">
                        <label for="especialista_com_curso_superior">Especialista com Curso Superior</label>
                        <input type="checkbox" name="especialista_com_curso_superior" id="especialista_com_curso_superior">
                      </div>
                    </div>
                    
                    <div class="col-6 col-right padding-small-left">
                      <div class="form-radio-item">
                        <label for="especialista_com_ensino_medio">Especialista com Ensino Médio</label>
                        <input type="checkbox" name="especialista_com_ensino_medio" id="especialista_com_ensino_medio">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6 col-left padding-small-right">
                    <div class="form-input">
                      <label class="hidden" for="ultimo_salario">*Último Salário</label>
                      <input class="money" type="text" id="ultimo_salario" name="ultimo_salario" placeholder="*último salário" required>
                    </div>
                  </div>

                  <div class="col-6 col-right padding-small-left">
                    <div class="form-input">
                      <label class="hidden" for="pretensao_salarial">*Pretensão Salarial</label>
                      <input class="money" type="text" id="pretensao_salarial" name="pretensao_salarial" placeholder="*pretensão salarial" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6 col-right padding-small-left">
                    <div class="form-radio-item">
                      <label for="combinar">à combinar</label>
                      <input type="checkbox" id="combinar" name="combinar">
                    </div>
                  </div>
                </div>
              </fieldset>

              <div class="form-submit text-center">
                <input class="btn btn-blue" type="submit" value="Salvar objetivo profissional">
              </div>
            </form>
          </div>
        </div>
        
        <div class="row margin-large-bottom">
          <div class="col-6 col-left padding-right">
            <form action="" class="form-curriculo">
              <fieldset>
                <legend class="page-caption">Formação Acadêmica</legend>

                <div class="form-input">
                  <label class="hidden" for="grau_de_escolaridade">*Grau de Escolaridade</label>
                  <input type="text" id="grau_de_escolaridade" name="grau_de_escolaridade" placeholder="grau de escolaridade">
                </div>

                <div class="form-input">
                  <label class="hidden" for="curso">*Nome do curso</label>
                  <input type="text" id="curso" name="curso" placeholder="*nome do curso" required>
                </div>

                <div class="form-input">
                  <label class="hidden" for="instituicao">*Nome da Instituição</label>
                  <input type="text" id="instituicao" name="instituicao" placeholder="*nome da instituição" required>
                </div>

                <div class="row">
                  <div class="col-6 col-left padding-small-right">
                    <div class="form-input">
                      <label class="hidden" for="data_inicio">*Data de início</label>
                      <input class="date" type="text" id="data_inicio" name="data_inicio" placeholder="*data de início" required>
                    </div>
                  </div>

                  <div class="col-6 col-right padding-small-left">
                    <div class="form-input">
                      <label class="hidden" for="data_conclusao">*Data de conclusão</label>
                      <input class="date" type="text" id="data_conclusao" name="data_conclusao" placeholder="*data de conclusão" required>
                    </div>
                  </div>
                </div>
              </fieldset>

              <div class="form-submit text-center">
                <input class="btn btn-blue" type="submit" value="Salvar formação acadêmica">
              </div>
            </form>
          </div>
          
          <div class="col-6 col-right padding-left">
            <div class="display">
              <h2 class="page-caption">Formações acadêmicas salvas</h2>
              
              <div class="display-scroll scroll">
                <ul class="display-list">
                  <% for i in (0..10) %>
                  <li class="display-item">
                    <section>
                      <h3 class="display-title">Curso</h3>
                      <p>Instituição</p>
                      <p>Grau de escolaridade</p>
                      <p>de 00/00/0000 à 00/00/0000</p>

                      <div class="display-btn">
                        <a class="btn btn-blue" href="#">Editar</a>
                      </div>
                    </section>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
          
        <div class="row margin-large-bottom">
          <div class="col-6 col-left padding-right">
            <form action="" class="form-curriculo">
              <fieldset>
                <legend class="page-caption">Cursos Extras e Eventos</legend>

                <div class="row">
                  <div class="col-6 col-left padding-small-right">
                    <div class="form-input">
                      <label class="hidden" for="nome">*Nome</label>
                      <input type="text" id="nome" name="nome" placeholder="*nome" required>
                    </div>
                  </div>

                  <div class="col-6 col-right padding-small-left">
                    <div class="form-input">
                      <label class="hidden" for="local">*Local</label>
                      <input type="text" id="local" name="local" placeholder="*local" required>
                    </div>
                  </div>
                </div>

                <div class="form-textarea">
                  <label class="hidden" for="descricao">*Descrição</label>
                  <textarea id="descricao" name="descricao" placeholder="*descreva aqui o curso ou evento realizado." required></textarea>
                </div>

                <div class="form-submit text-center">
                  <input class="btn btn-blue" type="submit" value="Salvar curso extra/evento">
                </div>
              </fieldset>
            </form>
          </div>
          
          <div class="col-6 col-right padding-left">
            <div class="display">
              <h2 class="page-caption">Cursos ou Eventos salvos</h2>
              
              <div class="display-scroll scroll">
                <ul class="display-list">
                  <% for i in (0..10) %>
                  <li class="display-item">
                    <section>
                      <h3 class="display-title">Nome</h3>
                      <p>Local</p>
                      <p>de: 01/01/2007 à 01/01/2010</p>

                      <div class="display-text">
                        <p>
                          Descrição do curso.
                        </p>
                      </div>

                      <div class="display-btn">
                        <a class="btn btn-blue" href="#">Editar</a>
                      </div>
                    </section>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row margin-large-bottom">
          <div class="col-6 col-left padding-right">
            <form action="" class="form-curriculo">
              <fieldset>
                <legend class="page-caption">Idiomas</legend>

                <div class="row">
                  <div class="col-7 col-left padding-small-right">
                    <div class="form-input">
                      <label class="hidden" for="idioma">*Idioma</label>
                      <input type="text" id="idioma" name="idioma" placeholder="*outro idioma" required>
                    </div>
                  </div>

                  <div class="col-5 col-right padding-small-left">
                    <div class="form-select">
                      <label class="hidden" for="nivel">*Nível</label>
                      <select name="nivel" id="nivel">
                        <option value="0">nível</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-submit text-center">
                  <input class="btn btn-blue" type="submit" value="Salvar idioma">
                </div>
              </fieldset>
            </form>
          </div>

          <div class="col-6 col-right padding-left">
            <div class="display">
              <h2 class="page-caption">Idiomas Salvos</h2>
              
              <div class="display-small-scroll scroll">
                <ul class="display-list">
                  <% for i in (0..10) %>
                  <li class="display-item">
                    <section>
                      <h3 class="display-title">Idioma</h3>
                      <p>Nível</p>
                      
                      <div class="display-btn">
                        <a class="btn btn-blue" href="#">Editar</a>
                      </div>
                    </section>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row margin-large-bottom">
          <div class="col-6 col-left padding-right">
            <form action="" class="form-curriculo">
              <fieldset>
                <legend class="page-caption">Experiência Profissional</legend>

                <div class="form-input">
                  <label class="hidden" for="empresa">*Empresa</label>
                  <input type="text" id="empresa" name="empresa" placeholder="*empresa" required>
                </div>

                <div class="form-input">
                  <label class="hidden" for="ultimo_cargo">*Último Cargo</label>
                  <input type="text" id="ultimo_cargo" name="ultimo_cargo" placeholder="*último cargo" required>
                </div>

                <div class="row">
                  <div class="col-6 col-left padding-small-right">
                    <div class="form-input">
                      <label class="hidden" for="data_inicio">*Data de início</label>
                      <input class="date" type="text" id="data_inicio" name="data_inicio" placeholder="*data de início" required>
                    </div>
                  </div>

                  <div class="col-6 col-right padding-small-left">
                    <div class="form-input">
                      <label class="hidden" for="data_saida">*Data de saída</label>
                      <input class="date" type="text" id="data_saida" name="data_saida" placeholder="*data de saída" required>
                    </div>
                  </div>
                </div>

                <div class="row margin-bottom">
                  <div class="col-6 col-right padding-small-left">
                    <div class="form-radio-item">
                      <label for="emprego_atual">emprego atual</label>
                      <input type="checkbox" name="emprego_atual" id="emprego_atual">
                    </div>
                  </div>
                </div>

                <div class="form-textarea">
                  <label class="hidden" for="funcoes">*Funções</label>
                  <textarea name="funcoes" id="funcoes" placeholder="*descreva aqui suas funções no cargo." required></textarea>
                </div>

                <div class="form-submit text-center">
                  <input class="btn btn-blue" type="submit" value="Salvar experiência profissional">
                </div>
              </fieldset>
            </form>
          </div>

          <div class="col-6 col-right padding-left">
            <div class="display">
              <h2 class="page-caption">Idiomas Salvos</h2>
              
              <div class="display-large-scroll scroll">
                <ul class="display-list">
                  <% for i in (0..10) %>
                  <li class="display-item">
                    <section>
                      <h3 class="display-title">Cargo</h3>
                      <p>Empresa</p>
                      <p>de 00/00/0000 à 00/00/0000</p>

                      <div class="display-text">
                        <p>
                          Descrição das funções exercidas no cargo.
                        </p>
                      </div>
                      
                      <div class="display-btn">
                        <a class="btn btn-blue" href="#">Editar</a>
                      </div>
                    </section>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <form action="" class="margin-bottom">
          <fieldset class="margin-bottom">
            <legend class="page-caption">Mini Currículo</legend>

            <div class="form-textarea">
              <label class="hidden" for="mini_curriculo">Mini Currículo</label>
              <textarea name="mini_curriculo" id="mini_curriculo" placeholder="*descreva aqui, de forma resumida, seu perfil, experiências e habilidades profissionais." required></textarea>
            </div>
          </fieldset>

          <fieldset class="margin-bottom">
            <legend class="page-caption">Nível de Confidencialidade</legend>
            
            <div class="row">
              <div class="col-6 col-left padding-right">
                <div class="form-radio-item">
                  <label for="publico">público</label>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Sapiente cumque, in laboriosam. Blanditiis, excepturi at, 
                    officia cumque laborum eligendi cupiditate, eaque, similique 
                    voluptate facilis quos alias ut esse repellat sit!
                  </p>
                  <input type="radio" name="confidencialidade" id="publico" checked>
                </div>
              </div>

              <div class="col-6 col-right padding-left">
                <div class="form-radio-item">
                  <label for="confidencial">confidencial</label>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Sapiente cumque, in laboriosam. Blanditiis, excepturi at, 
                    officia cumque laborum eligendi cupiditate, eaque, similique 
                    voluptate facilis quos alias ut esse repellat sit!
                  </p>
                  <input type="radio" name="confidencialidade" id="confidencial">
                </div>
              </div>
            </div>
          </fieldset>
        
          <div class="margin-large-top text-center">
            <div class="page-slogan margin-bottom">
              <div class="page-slogan-text">
                <p>
                  Muito bem, seu curriculo esta quase pronto! <br>
                  Basta apenas concluir clicando no botão abaixo para <br>
                  poder usufruir livremente de nossos serviços, mas <br>
                  porque pagar com um post?
                </p>
                <p>
                  Simples, para nos ajudar a manter nossos serviços <br>
                  gratuitos. =)
                </p>
              </div>
            </div>
            
            <div class="form-radio">
              <div class="form-radio-item form-inline">
                <label for="termos_de_uso">*li e concordo com os <a href="#">termos de uso.</a></label>
                <input type="checkbox" name="termos_de_uso" id="termos_de_uso" required>
              </div>
            </div>

            <button class="btn btn-facebook">
              <span class="fa fa-facebook"></span> Concluir currículo e pagar com um post
            </button>
          </div>
        </form>
      </div>
    </main>