.checkboxes_curriculum {

	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		list-style: none;
		width: 230px;

		input {
			margin-right: 6px;
			position: relative;
			top: 2px;
		}

		&:nth-child(even) {
			position: relative;
			left: 10px;
		}
	}
}

.status_vacancy {
	color: $btn-8;
}

#main {
	min-height: 460px;
}

.salary_negotiable {
	position: relative;
	top: 12px;
}

.text_explicative {
	font-size: 1.5em;
	color: $text-4;
}

.active_job {
	font-size: 10px;
	color: #63c193
}

.inactive_job {
	font-size: 10px;
	color: #ff413c
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
		color: #31B297;
		font-size: 1.4em;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}

.pagseguro {

	input[type="submit"]{
		position: relative;

		display: inline-block;
		height: 26px;
		line-height: 26px;

		color: $text-1;
		font-size: 14px;
		text-transform: lowercase;
		text-decoration: none;

		padding: 0 10px;

		border: 0;

		left: 30px;

		@include transition(.1s ease);

		background: $btn-1;

		&:hover {
			background-color: $btn-3;
		}
	}
}

.vacancies-list li, .vacancies-sidebar-item li { display:none;}

.summary {
	height: 30px;
	font-size: 1.3em;

	i {
		margin-left: 10px;
	}
}

#logo {
	span {
		color: $text-2;
		font-size: 1.4em;
		position: relative;
		font-style: italic;
		top: -5px;
		left: 93px;
	}

	h1 {
		position: relative;
		top: -12px;
	}
}

#nav,  .nav-social{
	position: relative;
	top: 10px;
}

p.information {
	color: $text-2;
	font-size: 1.5em;
}
