<footer id="footer">
  <div class="grid">
    <div class="footer-logo col-2 col-left"></div>

    <div class="col-2 col-left">
      <h2 class="footer-title">Candidatos</h2>
      <ul class="footer-list">
        <li><a href="#">Cadastro</a></li>
        <li><a href="#">Currículo</a></li>
      </ul>
    </div>

    <div class="col-2 col-left">
      <h2 class="footer-title">Recrutadores</h2>
      <ul class="footer-list">
        <li><a href="#">Cadastro</a></li>
        <li><a href="#">Cadastrar vaga</a></li>
        <li><a href="#">Vaga Premium</a></li>
      </ul>
    </div>

    <div class="col-2 col-left">
      <h2 class="footer-title">Busca</h2>
      <ul class="footer-list">
        <li><a href="#">Buscar vaga</a></li>
      </ul>
    </div>

    <div class="col-2 col-left">
      <h2 class="footer-title">Termos</h2>
      <ul class="footer-list">
        <li><a href="#">Termos de uso</a></li>
      </ul>
    </div>

    <div class="col-2 col-left">
      <h2 class="footer-title">Contato</h2>
      <ul class="footer-list-inline">
        <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
        <li><a href="#"><span class="fa fa-envelope"></span></a></li>
      </ul>
    </div>
  </div>
</footer>