<header id="header">
  <div class="grid">
    <div id="logo">
      <a href="/">
        <h1>Nova Currículo</h1>
      </a>
    </div>
    
    <div id="nav-container">
      <nav id="nav" class="nav-active">
        <ul>
          <li>
            <span>Candidato</span>
            <ul class="nav-drop">
              <li><a href="candidato/cadastro">Cadastro</a></li>
              <li><a href="candidato/curriculo">Currículo</a></li>
            </ul>
          </li>
          <li>
            <span>Recrutador</span>
            <ul class="nav-drop nav-drop-large">
              <li><a href="recrutador/cadastro">Cadastro</a></li>
              <li><a href="recrutador/cadastrar-vaga">Cadastrar vaga</a></li>
            </ul>
          </li>
          <li><a href="contato">Contato</a></li>
        </ul>
      </nav>
      <div class="nav-social">
        <a href="#"><span class="fa fa-facebook-square"></span></a>
      </div>
    </div>
  </div>
</header>