<header id="header">
  <div class="grid">
    <div id="logo">
      <a href="/">
        <span>beta</span>
        <h1>Nova Currículos</h1>
      </a>
    </div>

    <div id="nav-container">
      <nav id="nav" class="nav-active">
        <ul>
          <% if current_user.nil? || current_user.is_company? %>
          <li><%= link_to "Vaga Premium", page_path("vaga-premium") %></li>
          <% end %>
          <% if current_user.nil? %>
          <li><%= link_to "NÃO É CADASTRADO?", page_path('cadastrar'), :class => "btn btn-link"%></li>
          <% end %>
          <li><%= link_to "Contato", page_path('contato') %></li>
        </ul>
      </nav>
      <div class="nav-social">
        <a href="http://www.fb.com/novacurriculos"><span class="fa fa-facebook-square"></span></a>
      </div>
    </div>
  </div>
</header>
