<div class="login">
  <div class="grid">
    <span class="login-title">Login</span>

    <%= simple_form_for :user, url: user_session_path, :html=> { class: 'login-form' } do |f| %>
      <div class="login-input">
        <%= f.input :email, required: false, autofocus: true, :placeholder => "email", label: false %>
      </div>

      <div class="login-input">
        <%= f.input :password, required: false, :placeholder => "email", label: false %>
      </div>

      <div class="login-submit">
        <%= f.button :submit, "Entrar", :class => "btn btn-blue" %>
      </div>
    <% end %>

    <a class="btn btn-facebook" href="#">
      <span class="fa fa-facebook"></span> Login com Facebook
    </a>

    <a class="btn btn-link" href="#">Ainda não sou cadastrador</a>
  </div>
</div>